.resources h1 {
    font-size: 80px;
    text-align: center;
}

.box {
    border: 2px solid #582900; 
    background-color: #CCB682;
    padding: 20px; 
    border-radius: 10px; 
    width: 500px; 
    height: 400px;
    color: #2B1400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.box h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 32px;
    text-align: center;
}

.box ul {
    text-align: left;
    width: 100%;
    margin-left: 20px;
    padding: 0 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box li {
    margin-bottom: 8px;
    font-size: 20px;
}

.box-containers {
    display: flex; 
    gap: 125px; 
    justify-content: center;
    flex-wrap: wrap;
}